You are given a table, BST, containing two columns: N and P, where N represents the value of a node in Binary Tree, and P is the parent of N.



Write a query to find the node type of Binary Tree ordered by the value of the node. Output one of the following for each node:

Root: If node is root node.
Leaf: If node is leaf node.
Inner: If node is neither root nor leaf node.

In [ ]:
select N,
case 
    when P is null then 'Root'
    when N not in (select P from BST where P is not null) then 'Leaf'
    else 'Inner'
end as Node_Type
from BST
order by N asc;

Your nephews Huey, Dewey, and Louie are staying with you over the winter holidays. Ever since they arrived, you've hardly had a day go by without some kind of incident - the little rascals do whatever they please! Actually, you're not even mad; the ideas they come up with are pretty amazing, and it looks like there's even a system to their mischief.

You decided to track and analyze their behavior, so you created the mischief table in your local database. The table has the following columns:

mischief_date: the date of the mischief (of the date type);
author: the nephew who caused the mischief ("Huey", "Dewey" or "Louie");
title: the title of the mischief.
It looks like each of your nephews is active on a specific day of the week. You decide to check your theory by creating another table as follows:
The resulting table should contain four columns, weekday, mischief_date, author, and title, where weekday is the weekday of mischief_date (0 for Monday, 1 for Tuesday, and so on, with 6 for Sunday). The table should be sorted by the weekday column, and for each weekday Huey's mischief should go first, Dewey's should go next, and Louie's should go last. In case of a tie, mischief_date should be a tie-breaker. If there's still a tie, the record with the lexicographically smallest title should go first.

It is guaranteed that all entries of mischief are unique.

In [ ]:
CREATE PROCEDURE solution()
BEGIN
	/* Write your SQL here. Terminate each statement with a semicolon. */
	select weekday(mischief_date) as weekday, mischief_date, author, title
	from mischief
	order by weekday,
		case 
			when author = 'Huey' then 1
			when author = 'Dewey' then 2
			when author =  'Louie' then 3
		end,
		mischief_date, 
		title asc;	
	
END

or example, let’s say that you run a job every week that will set the customer.active column to 0 for any customers who haven’t rented a film in the last 90 days. Here’s a statement that will set the value to either 0 or 1 for every customer:

In [ ]:
update customer
set active =
    case
        when 90 <= (select datediff(now(), max(rental_date))
                    from rental r
                    where r.customer_id = customer.customer_id)
            then 0
        else 1
    end
where active = 1;

Handling nulls:

In [ ]:
select c.first_name, c.last_name 
    case 
        when a.address is null
            then 'Unknown'
            else a.address
    end address
    case
        when ci.city is null
            then 'Unknown'
            else ci.city
    end city
    case
        when co.country is null
            then 'Unknown'
            else co.country
    end country
from customer c
    full outer join address a
    on c.id = a. customer_id
    full outer join address city ci
    on a.city_id = ci.city_id
    full outer join address country co
    on a.country_id = co.country_id

In [ ]:
SELECT name,
  CASE name
    WHEN 'English' THEN 'latin1'
    WHEN 'Italian' THEN 'latin1'
    WHEN 'French' THEN 'latin1'
    WHEN 'German' THEN 'latin1'
    WHEN 'Japanese' THEN 'utf8'
    WHEN 'Mandarin' THEN 'utf8'
    ELSE 'Unknown'
  END character_set
FROM language;

-- Optimized:

select name,
    case
        when name in ('English', 'Italian', 'French', 'German')
            then 'latin1'
        when name in ('Japanese', 'Mandarin')
            then 'utf8'
        else 'Unknown'
    end character_set
from language;

In [ ]:
SELECT rating, count(*)
FROM film
GROUP BY rating;

This is what you get from the above:

In [ ]:
+--------+----------+
| rating | count(*) |
+--------+----------+
| PG     |      194 |
| G      |      178 |
| NC-17  |      210 |
| PG-13  |      223 |
| R      |      195 |
+--------+----------+


You can flip the axes and get it all in one row like this:

In [ ]:
select
    sum (case when rating = 'G' then 1 else 0 end) 'G',
    sum (case when rating = 'PG' then 1 else 0 end) 'PG',
    sum (case when rating = 'PG_13' then 1 else 0 end) 'PG_13',
    sum (case when rating = 'R' then 1 else 0 end) 'R',
    sum (case when rating = 'NC_17' then 1 else 0 end) 'NC_17'
from film;