In [18]:
# !pip install ipython-sql
# !pip uninstall pymysql -y
# !pip uninstall mysql-connector-python -y
# !pip install mysqlclient

Installed kernelspec SQL in /Users/bfaris96/Library/Jupyter/kernels/sql

In [5]:
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv


load_dotenv()

MYSQL_USER = os.getenv("MYSQL_USER")
MYSQL_PASSWORD = os.getenv("MYSQL_PASSWORD")

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%sql mysql+mysqldb://$MYSQL_USER:$MYSQL_PASSWORD@localhost/

In [14]:
%sql CREATE DATABASE IF NOT EXISTS sql_exercises;

 * mysql+mysqldb://root:***@localhost/
   mysql+mysqldb://root:***@localhost/sakila
1 rows affected.

[]

In [16]:
%sql mysql+mysqldb://$MYSQL_USER:$MYSQL_PASSWORD@localhost/sql_exercises

In [36]:
%%sql 
create table string_tbl
(char_fld CHAR(30),
vchar_fld VARCHAR(30),
text_fld TEXT);

   mysql+mysqldb://root:***@localhost/
   mysql+mysqldb://root:***@localhost/sakila
 * mysql+mysqldb://root:***@localhost/sql_exercises
(MySQLdb.OperationalError) (1050, "Table 'string_tbl' already exists")
[SQL: create table string_tbl
(char_fld CHAR(30),
vchar_fld VARCHAR(30),
text_fld TEXT,
slice_fld TEXT);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [24]:
%%sql
insert into string_tbl values
('This is a string', 'This is a varchar', 'This is a text');

   mysql+mysqldb://root:***@localhost/
   mysql+mysqldb://root:***@localhost/sakila
 * mysql+mysqldb://root:***@localhost/sql_exercises
1 rows affected.

[]

In [25]:
%%sql
update string_tbl
set vchar_fld = 'This is an extremely long varchar field blabllblalblblblblblb';

   mysql+mysqldb://root:***@localhost/
   mysql+mysqldb://root:***@localhost/sakila
 * mysql+mysqldb://root:***@localhost/sql_exercises
(MySQLdb.DataError) (1406, "Data too long for column 'vchar_fld' at row 1")
[SQL: update string_tbl
set vchar_fld = 'This is an extremely long varchar field blabllblalblblblblblb';]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [26]:
%%sql
delete from string_tbl;

   mysql+mysqldb://root:***@localhost/
   mysql+mysqldb://root:***@localhost/sakila
 * mysql+mysqldb://root:***@localhost/sql_exercises
1 rows affected.

[]

In [27]:
%%sql
insert into string_tbl (char_fld, vchar_fld, text_fld)
values('This string is 28 characters', 'This string is 28 characters', 'This string is 28 characters');

   mysql+mysqldb://root:***@localhost/
   mysql+mysqldb://root:***@localhost/sakila
 * mysql+mysqldb://root:***@localhost/sql_exercises
1 rows affected.

[]

In [28]:
%%sql
update string_tbl
set text_fld = concat(text_fld, ', but now it is longer')

   mysql+mysqldb://root:***@localhost/
   mysql+mysqldb://root:***@localhost/sakila
 * mysql+mysqldb://root:***@localhost/sql_exercises
1 rows affected.

[]

In [37]:
%%sql
update string_tbl
(slice_fld = TEXT);
insert into string_tbl (slice_fld)
values('Please find the substring in this string');

   mysql+mysqldb://root:***@localhost/
   mysql+mysqldb://root:***@localhost/sakila
 * mysql+mysqldb://root:***@localhost/sql_exercises
(MySQLdb.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(slice_fld = TEXT)' at line 2")
[SQL: update string_tbl
(slice_fld = TEXT);]
(Background on this error at: https://sqlalche.me/e/20/f405)