In [5]:
# !pip install sqlalchemy
# !pip install pandas
# !pip install python-dotenv
!pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.6.tar.gz (383 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.6-cp310-cp310-macosx_12_0_x86_64.whl size=143167 sha256=760f51115d79eff8e0ec56d000a1c939ecc366e7fcd863bf578a21c8aeb8abe5
  Stored in directory: /Users/bfaris96/Library/Caches/pip/wheels/a2/65/83/78e6f42d3b8e22115e894576b71799d96ab5a790b8f7bcfa85
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

In [6]:
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv

In [7]:
load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@localhost/pagila")

[SQL Exercises](https://learning.oreilly.com/library/view/learning-sql-3rd/9781492057604/ch05.html#exercise_5-3)
Exercise 5-3:

My attempt:

In [8]:
with engine.connect() as conn:
    result_set = conn.execute(text("""
	
	SELECT DISTINCT city_id, address1, address2
	FROM (
		SELECT a1.address address1, a2.address address2, a2.city_id city_id
		FROM public.address a1
		JOIN public.address a2 
		ON a1.city_id = a2.city_id) a
	WHERE a.address1 != a.address2;
	
	
	
	
	
	"""))
    for row in result_set:
        print(row)

(42, '43 Vilnius Manor', '587 Benguela Manor')
(300, '47 MySakila Drive', '23 Workhaven Lane')
(42, '587 Benguela Manor', '43 Vilnius Manor')
(576, '28 MySQL Boulevard', '1411 Lillydale Drive')
(576, '1411 Lillydale Drive', '28 MySQL Boulevard')
(300, '23 Workhaven Lane', '47 MySakila Drive')
(312, '548 Uruapan Street', '1497 Yuzhou Drive')
(312, '1497 Yuzhou Drive', '548 Uruapan Street')

In [10]:
with engine.connect() as conn:
    result_set = conn.execute(text("""


SELECT a1.address address1, a2.address address2, a2.city_id city_id
FROM public.address a1
JOIN public.address a2 
ON a1.city_id = a2.city_id AND a1.address < a2.address;


	"""))
    for row in result_set:
        print(row)

('23 Workhaven Lane', '47 MySakila Drive', 300)
('1411 Lillydale Drive', '28 MySQL Boulevard', 576)
('1497 Yuzhou Drive', '548 Uruapan Street', 312)
('43 Vilnius Manor', '587 Benguela Manor', 42)

In [ ]:
with engine.connect() as conn:
    result_set = conn.execute(text("""




	"""))
    for row in result_set:
        print(row)

In [ ]:
with engine.connect() as conn:
    result_set = conn.execute(text("""




	"""))
    for row in result_set:
        print(row)

In [ ]:
with engine.connect() as conn:
    result_set = conn.execute(text("""




	"""))
    for row in result_set:
        print(row)

In [ ]:
with engine.connect() as conn:
    result_set = conn.execute(text("""




	"""))
    for row in result_set:
        print(row)