[Using this sql book](https://learning.oreilly.com/library/view/learning-sql-3rd/9781492057604/ch06.html#exercise_6-3)

In [3]:
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv

load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

In [ ]:
# !pip install ipython-sql

In [2]:
%load_ext sql

In [6]:
%sql postgresql://postgres:password@localhost/pagila

In [12]:
%%sql

SELECT c.last_name AS lname, c.first_name AS fname
FROM customer c
WHERE c.last_name LIKE 'L%'
UNION ALL
SELECT a.last_name AS lname, a.first_name AS fname
FROM actor a
WHERE a.last_name LIKE 'L%'
ORDER BY lname;

 * postgresql://postgres:***@localhost/pagila
24 rows affected.

[('LAMBERT', 'MISTY'),
 ('LANCE', 'JACOB'),
 ('LANE', 'RENEE'),
 ('LARSON', 'HEIDI'),
 ('LARUE', 'DARYL'),
 ('LAWRENCE', 'LAURIE'),
 ('LAWSON', 'JEANNE'),
 ('LAWTON', 'LAWRENCE'),
 ('LEE', 'KIMBERLY'),
 ('LEIGH', 'MATTHEW'),
 ('LEONE', 'LOUIS'),
 ('LEWIS', 'SARAH'),
 ('LINTON', 'GEORGE'),
 ('LITTLE', 'MAUREEN'),
 ('LOLLOBRIGIDA', 'JOHNNY'),
 ('LOMBARDI', 'DWIGHT'),
 ('LONG', 'JACQUELINE'),
 ('LOPEZ', 'AMY'),
 ('LOVELACE', 'BARRY'),
 ('LOWE', 'PRISCILLA'),
 ('LUCAS', 'VELMA'),
 ('LUMPKIN', 'WILLARD'),
 ('LYMAN', 'LEWIS'),
 ('LYNCH', 'JACKIE')]