This will update last update col to the most recent rental date for each customer where exists 1 rental

In [ ]:
update customer c
set c.last_update = 
	(select max(r.rental_date) from rental r
	where r.customer_id = c.customer_id)
where exists
	(select 1 from rental r
	where r.customer_id = c.customer_id);

delete customers that have not rented for a year

In [ ]:
delete from customer c
where 365 < all
    (select datediff(now(), r.rental_date) days_since_last_rental
    from rental r
    where r.customer_id = c.customer_id);

The subquery against the film_actor table should count the number of rows for each actor using group by actor_id, and the count should be compared to the min_roles/max_roles columns to determine which level each actor belongs to.

In [ ]:

select actors.actor_id, r.level
from
(SELECT 'Hollywood Star' level, 30 min_roles, 99999 max_roles
UNION ALL
SELECT 'Prolific Actor' level, 20 min_roles, 29 max_roles
UNION ALL
SELECT 'Newcomer' level, 1 min_roles, 19 max_roles) r
INNER JOIN
(select actor_id, count(*) num_roles
from film_actor
group by actor_id) actors
on actors.num_roles between r.min_roles and r.max_roles;