https://learning.oreilly.com/library/view/learning-sql-3rd/9781492057604/ch12.html#starting_a_transaction

In [ ]:
start transaction; 

insert into transaction(txn_id, txn_date, account_id, txn_type_cd, amount)
values (1001, '2019-05-15', 123, 'D', 50);

insert into transaction(txn_id, txn_date, account_id, txn_type_cd, amount)
values (1002, '2019-06-01', 789, 'C', 50);

update account
set avail_balance = (avail_balance - 50), 
    last_activity_date = current_timestamp()
where account_id = 123;

update account
set avail_balance = (avail_balance + 50),
    last_activity_date = current_timestamp()
where account_id = 789;

commit;

Adding a constraint what will raise an error if this field is deleted:

In [ ]:
alter table rental
add constraint fk_customer_id foreign key (customer_id)
references customer (customer_id) on delete restrict;

Creating a multicolumns index:

In [ ]:
alter table payment
add index idx_customer_id_date (payment_date, amount);

Creating a view:

In [ ]:
create view film_ctgory_actor
AS
select f.title, c.category, a.first_name, a.last_name
from film f
    JOIN film_actor fa
    on f.film_id = fa.film_id
    join actor a
    on fa.actor_id = a.actor_id
    join film_category fc
    on f.film_id = fc.film_id
    join category
    on fc.category_id = c.category_id;

In [ ]:
create view tot_country_payments
AS
select c.country, sub.tot_payments,
    from country c
    full outer join
        (select 
            sum(p.amount) as tot_payments, 
            co.country_id as country_id
        from payment p
            join customer c
            on p.customer_id = c.customer_id
            join address a 
            on c.address_id = a.address_id
            join city ci
            on a.city_id = ci.city_id
            join country co
            on ci.country_id = co.country_id
        group by co.country_id) sub
    on c.country_id = sub.country_id
order by tot_payments desc;