https://learning.oreilly.com/library/view/learning-sql-3rd/9781492057604/ch12.html#starting_a_transaction

In [ ]:
start transaction; 

insert into transaction(txn_id, txn_date, account_id, txn_type_cd, amount)
values (1001, '2019-05-15', 123, 'D', 50);

insert into transaction(txn_id, txn_date, account_id, txn_type_cd, amount)
values (1002, '2019-06-01', 789, 'C', 50);

update account
set avail_balance = (avail_balance - 50), 
    last_activity_date = current_timestamp()
where account_id = 123;

update account
set avail_balance = (avail_balance + 50),
    last_activity_date = current_timestamp()
where account_id = 789;

commit;

In [ ]:
alter table